@import "./home.module.css";
@import "./layout.module.css";

@font-face {
    font-family: "55Roman";
    src: url("55Roman.otf") format("opentype");
}

html, 
sbody {
  padding: 0;
  margin: 0;
  font-family: "55Roman", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    /* border-color: rgba(0, 0, 0, 0); */
    border-spacing: 0px 17px;
}

tr {
    border-radius: 6px;
}

td {
    margin-bottom: 10px;
    background-color: white;
}

thead, thead > tr, thead > tr > th {
    height: 48px;
}

th {
    background-color: white;
}